@font-face {
	font-family: 'Respective';
	src: url('./fonts/Respective.woff') format('woff');
}

@font-face {
	font-family: 'Wedding';
	src: url('./fonts/Wedding.woff') format('woff');
}

@font-face {
	font-family: 'Chilanka';
	src: url('./fonts/Chilanka.woff') format('woff');
}

body {
	background-color: white;
	text-align: center;
}

.header {
	font-family: Respective, cursive;
	font-size: 300%;
}

p {
	font-family: Chilanka, cursive;
	font-size: 125%;
}

#tab_bar {
	background-color: #a6c6ea;
	
	padding: 1%;
	margin-top: 1%;
}

.tab_button {
	font-family: Wedding, cursive;
	font-size: 200%;
	
	/* top right bottom left */
	padding: 1% 2% 1% 2%;
	
	margin: 1%;
	
	background-color: #a6c6ea;
	
	cursor: pointer;
}

.tab_button:hover {
	background-color: #758fad;
}

.hanging_greens {
	width: 10%;
}

#top_corner_flowers {
	position: fixed;
	top: 0px;
	left: 0px;
}

#bottom_corner_flowers {
	position: fixed;
	bottom: 0px;
	right: 0px;
}