#download_button {
	display: block;
	
	/* top right bottom left */
	margin: 1% auto 1% auto;

	width: fit-content;
	width: -moz-fit-content;
}

#gallery_content {
	width: 80%;
	
	margin-left: auto;
	margin-right: auto;
	
	margin-top: 1%;
}

#gallery_content.dark {
	filter: brightness(35%);
}

.gallery_photo {
	cursor: pointer;
}

.vertical {
	width: 25%;
}

.horizontal {
	width: 50%;	
}

#slideshow {
	display: block;
	position: fixed;
	
	top: 5%;
	
	height: 100%;
	width: 100%;
}

#slideshow.hidden {
	display: none;
}

#current_photo {
	display: inline;
	width: 40%;
}

#current_photo .gallery_photo {
	border: 2px solid black;
}

#current_photo .gallery_photo.vertical {
	width: 27%;
	height: auto;
}

#current_photo .gallery_photo.horizontal {
	width: 60%;
	height: auto;
}

.arrow {
	align-items: center;
	width: 3%;
	cursor: pointer;
	
	margin-bottom: 17%;
}


#close_button {
	position: fixed;
	
	width: 2%;
}

#close_button:hover {
	cursor: pointer;
}
