p {
	font-variant: normal;
/* 	line-height: 40px; */
}

.guest_a {
	font-family: 'Segan', Sans-Serif;
	
	font-size: 130%;

	display: block;
    
    width: fit-content;
    width: -moz-fit-content;

    margin: auto;

}

#website_link {
	color: black;
	text-decoration: none;
	background-color: #efefe8;
	
	/* top right bottom left */
	top: -100px;
	padding: 1% 2% 1% 2%;
}

#website_link:hover {
	background-color: #e9e9d0;
}


.space_above {
	margin-top: 1.5%;
}

#hotel_photo {
	width: 30%;
}

#reservation_link {
	color: black;
}

#reservation_link:visited {
  color: #6d5534;
}

#reservation_link:hover {
  color: #8a5c1d;
}