#rsvp_content {
	font-family: Segan, Sans-Serif;
	margin-top: 2%;
}

/* result of the group search */
#result {
	width: 30%;
	
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
}

.group_button {
	font-family: Segan, Sans-Serif;
	font-size: 130%;
	
	padding: 2%;
	
	cursor: pointer;
}

.group_button:hover {
	background-color: #efefe8;
}

/* the attending checkbox table */
table {
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	
	font-size: 130%;
}

th {
	padding: 5%;
}

td {
	padding: 3%;
	width: fit-content;
	white-space: nowrap;
}

.yes_no {
	padding: 5px;
	margin: 2px;
	border: 1px solid #efefe8;
}

.yes_no:hover {
	background-color: #efefe8
}

.selected {
	background-color: #e9e9d0;
}

.instruction {
	font-variant: normal;
	font-style: italic;
}

.search_button {
	font-family: Segan, Sans-Serif;
	font-size: 130%;
}

#name_input {
	margin-top: 2%;
	
	font-family: Segan, Sans-Serif;
	font-size: 130%;
}