#rsvp_content {
	font-family: Segan, Sans-Serif;
	margin-top: 2%;
}


/* result of the group search */
#result {
	width: 30%;
	
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
}

.group_button {
	font-family: Segan, Sans-Serif;
	
	padding: 2%;
	
	cursor: pointer;
}

.group_button:hover {
	background-color: #efefe8;
}

/* the attending checkbox table */
table {
	margin: auto;
}

tr {
	padding: 3%;
}

#rsvp_photo {
	margin-top: 1%;
	margin-bottom: 3%;
	width: 40%
}